In [1]:
import pandas as pd

In [39]:
jo = pd.read_csv('jlt.csv',skiprows=4)

In [40]:
jo.shape

(4124, 13)

In [41]:
jo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4124 entries, 0 to 4123
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Period (YYYYMM)                      4086 non-null   float64
 1   Metropolitan Statistical Area (MSA)  4086 non-null   object
 2   MSA Code                             4086 non-null   float64
 3   Job Openings                         4086 non-null   float64
 4   Hires                                4086 non-null   float64
 5   Quits                                4086 non-null   float64
 6   Layoffs & Discharges                 4086 non-null   float64
 7   Total Separations                    4086 non-null   float64
 8   Job Openings Rate                    4086 non-null   float64
 9   Hires Rate                           4086 non-null   float64
 10  Quits Rate                           4086 non-null   float64
 11  Layoffs & Discharges Rate            4086 non-null   float64
 12  Total Separations Rate               4086 non-null   float64
dtypes: float64(12), object(1)
memory usage: 419.0+ KB

In [42]:
jo.head()

,Period (YYYYMM),Metropolitan Statistical Area (MSA),MSA Code,Job Openings,Hires,Quits,Layoffs & Discharges,Total Separations,Job Openings Rate,Hires Rate,Quits Rate,Layoffs & Discharges Rate,Total Separations Rate
0,200102.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,80.0,76.0,45.0,29.0,81.0,3.4,3.3,2.0,1.3,3.5
1,200103.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,83.0,82.0,46.0,27.0,79.0,3.5,3.6,2.0,1.2,3.5
2,200104.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,84.0,88.0,47.0,23.0,76.0,3.5,3.8,2.0,1.0,3.3
3,200105.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,79.0,95.0,49.0,28.0,83.0,3.3,4.1,2.1,1.2,3.6
4,200106.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,77.0,97.0,51.0,31.0,88.0,3.2,4.2,2.2,1.3,3.8

### Renaming Columns

In [43]:
jo.rename(columns={'Period (YYYYMM)':'Period', 'Metropolitan Statistical Area (MSA)':'Metro_Area'}, inplace=True)

### Removing na values

In [44]:
jo.isna().sum()

Period                       38
Metro_Area                   38
MSA Code                     38
Job Openings                 38
Hires                        38
Quits                        38
Layoffs & Discharges         38
Total Separations            38
Job Openings Rate            38
Hires Rate                   38
Quits Rate                   38
Layoffs & Discharges Rate    38
Total Separations Rate       38
dtype: int64

In [45]:
naindex = jo.index[jo.isnull().any(axis=1)]

In [46]:
jo.drop(naindex,axis=0,inplace=True)

## Seperating year and month

In [48]:
#first change to datetime
jo['Period'] = pd.to_datetime(jo['Period'], format = '%Y%m')
jo['Year'] = jo['Period'].dt.year
jo['Month'] = jo['Period'].dt.month
jo.drop('Period',axis=1,inplace=True)